.recipeElementContainer {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));;
  gap: 16px;
  padding: 16px; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
