.navigationBarContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.navigationBarContainer a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navigationBarContainer a:hover {
  color: #f1f1f1;
}

.navigationBarContainer .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .navigationBarElement .MuiListItemText-primary {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navigationBarElement .MuiListItemText-primary {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navigationBarElement .MuiListItemText-primary {
    font-size: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navigationBarElement .MuiListItemText-primary {
    font-size: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navigationBarElement .MuiListItemText-primary {
    font-size: 1.2rem;
  }
}

.openBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openBtn:hover {
  background-color: #444;
}

@media screen and (max-height: 450px) {
  .navigationBarContainer {
    padding-top: 15px;
  }
  .navigationBarContainer a {
    font-size: 18px;
  }
}
