:root {
  --line-clamp: 2;
}

.recipeElement {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  height: 35vh;
}

.recipeName {
  display: -webkit-box;
  text-align: center;
  font-family: "Segoe UI";
  width: 100%;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  height: auto;
}

.recipeNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.recipeImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipeImageContainer {
  height: 70%;
}
