.recipeElement {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  height: 35vh;
}

.recipeNameContainer {
  text-align: center;
  font-family: 'Segoe UI';
  margin-top: 10px;
  font-size: 1.5rem;
}

.recipeImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipeImageContainer {
  height: 70%;
}